@import url("https://fonts.googleapis.com/css?family=Lato:700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

html {
  --heading-font: "Lato", sans-serif;
  --text-font: "Merriweather", serif;
  --heading-size-1: 4rem;
  --heading-size-2: 3rem;
  --heading-size-3: 1.5rem;
  --heading-size-4: 1.2rem;
  --text-color: #212121;
  --text-color-hover: #818181;
  --background: #fafafa;

  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: var(--heading-font);
  color: var(--text-color);
}

footer {
  font-family: var(--text-font);
}

body {
  background-color: var(--background);
}

h1 {
  font-size: var(--heading-size-1);
  font-weight: 900;
}

h2 {
  font-size: var(--heading-size-2);
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: var(--heading-size-3);
  font-weight: 700;
  margin-bottom: 20px;
}

hr {
  background-color: #cecece;
}

p {
  font-family: var(--text-font);
}

#profile-navbar .navbar-item {
  color: var(--text-color);
}

#profile-navbar .navbar-item:hover {
  color: var(--text-color-hover);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

div.profile-about__link-icons a:hover {
  color: var(--text-color-hover);
}

div.profile-experience__card-sub-header {
  color: var(--text-color-hover);
  font-size: var(--heading-size-4);
  margin-bottom: 15px;
}

div.profile-experience__card-year {
  font-size: var(--heading-size-4);
  font-family: var(--text-font);
}

div.profile-experience__card p {
  margin-bottom: 10px;
}

a.profile-about__link-linkedin {
  margin-right: 20px;
}

@media (min-width: 1024px) {
  section.profile-resume__section-1 {
    min-height: 100vh;
    position: relative;
  }

  section.profile-resume__section-2,
  section.profile-resume__section-3 {
    min-height: 100vh;
    padding-top: 100px;
  }

  section.profile-resume__section-4 {
    min-height: 90vh;
    padding-top: 100px;
  }

  div.profile-about__vertical-auto {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (max-width: 1024px) {
  body {
    padding: 0 20px;
  }

  h2 {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  html {
    --heading-size-1: 2.5rem;
    --heading-size-2: 2rem;
    --heading-size-3: 1.2rem;
    --heading-size-4: 1rem;
  }

  h1 {
    text-align: center;
  }

  div.profile-about__link-icons {
    text-align: center;
  }
}
