div.profile-experience__card-sub-header {
  color: $text-color-hover;
  font-size: $heading-size-4;
  margin-bottom: 15px;
}

div.profile-experience__card-year {
  font-size: $heading-size-4;
  font-family: $text-font;
}

div.profile-experience__card p {
  margin-bottom: 10px;
}
