html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: $heading-font;
  color: $text-color;
}

footer {
  font-family: $text-font;
}

body {
  background-color: $background;
}

h1 {
  font-size: $heading-size-1;
  font-weight: 900;
}

h2 {
  font-size: $heading-size-2;
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: $heading-size-3;
  font-weight: 700;
  margin-bottom: 20px;
}

hr {
  background-color: #cecece;
}

p {
  font-family: $text-font;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@media (max-width: 1024px) {
  body {
    padding: 0 20px;
  }

  h2 {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
}
