@media (min-width: 1024px) {
  section.profile-resume__section-1 {
    min-height: 100vh;
    position: relative;
  }

  section.profile-resume__section-2,
  section.profile-resume__section-3 {
    min-height: 100vh;
    padding-top: 100px;
  }

  section.profile-resume__section-4 {
    min-height: 90vh;
    padding-top: 100px;
  }
}
